body {
    background-color: darkslategrey;
    margin: 0;
}

#heading {
    text-align: center;
    background-color: steelblue;
    margin: 0;
    color: white;
    padding-bottom: 5px;
}

p {
    text-align: center;
    margin: 0;
    background-color: white;
    height: 30px;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    color: steelblue;
    font-weight: 700;
    height: 100%;
    margin: 0;
}

button:hover {
    color: white;
    background-color: steelblue;
}

.buttonSelected {
    background-color: steelblue;
    color: white;
}

#infoDisplay {
    display: inline-block;
    width: 30%
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

.colorSquare {
    width: 30%;
    background-color: blueviolet;
    float: left;
    padding-bottom: 30%;
    margin: 1.66%;
    border-radius: 15%;
}